#root {
  max-width: 1280px;
  
  --primary-color:rgba(10, 10, 10, 0.95);
  --secondary-color:green;
  --task-input-color:#68686818;
  --task-input-border-color:#1e1e1e34;
  --popup-color:white;


}



.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}

.High{
  background-color: rgba(206, 0, 0, 0.709);
}
.Medium{
  background-color: rgba(206, 151, 0, 0.709);
}
.Low{
  background-color: rgba(0, 76, 206, 0.709);
}
.Normal{
  background-color: rgba(82, 0, 206, 0.709);
}

.High-icon{
  color: rgba(206, 0, 0, 0.709);
}
.Medium-icon{
  color: rgba(206, 151, 0, 0.709);
}
.Low-icon{
  color: rgba(0, 76, 206, 0.709);
}
.Normal-icon{
  color: rgba(82, 0, 206, 0.709);
}